.catalog {
  padding: 50px 0;

  .select-wrapper {
    grid-gap: 15px;
  }
}

.grid-layout__inner {
  box-shadow: 0px 0.935908px 1.87182px rgba(58, 58, 68, 0.24), 0px 1.87182px 3.74363px rgba(90, 91, 106, 0.24);
  border-radius: 7.48726px;
  padding: 14px 14px 30px;
  margin-bottom: 40px;
}


.single-catalog-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 9px 14px;


  .card-item__more {
    display: none;
  }

  .favorite-btn {
    display: flex;
  }

  &.row-item {
    grid-template-columns: 1fr;

    .card-item__bottom {
      width: 100%;
      min-height: 180px;
    }
  }
}


.catalog-sort {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;


  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 8px;
  }

  &__item {
    padding: 6px 11px 5px;
    font-family: $font-family2;
    font-style: normal;
    font-weight: normal;
    font-size: 13.1027px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #4A4B57;
    background: $footer-bg;
    border-radius: 92.6549px;
  }

  &__title {
    font-family: $font-family2;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 13.1027px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #19191D;
  }
}


@media screen and (min-width: 280px) and (max-width: 576px) {
  .catalog {
    padding: 0 0 40px;

    .select-wrapper {
      grid-gap: 15px;
    }
  }

  .grid-layout__inner {
    box-shadow: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .single-catalog-inner {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    grid-gap: 20px 10px;

    .card {
      box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
    }

    .card-item__more {
      display: none;
    }

    .favorite-btn {
      display: flex;
    }

    .card-item {
      align-items: center;

      &__image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .catalog-sort {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .catalog {
    padding: 0 0 40px;

    .filter-wrapper {
      align-items: flex-start;
    }

    .select-wrapper {
      grid-gap: 15px;
      flex-wrap: wrap;
    }
  }

  .grid-layout__inner {
    box-shadow: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .single-catalog-inner {
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    justify-content: center;
    grid-gap: 20px 10px;

    .card {
      padding: 8px;
      box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
    }

    .card-item__more {
      display: none;
    }

    .favorite-btn {
      display: flex;
    }

    .card-item {
      align-items: center;

      &__image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }
  }

  .catalog-sort {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .single-catalog-inner  {
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));

    .card {
      box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1240px) {
  .single-catalog-inner {
    grid-template-columns: repeat(auto-fill,minmax(245px,1fr));

    .card {
      box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
    }
  }
  .catalog .select-wrapper {
    flex-wrap: wrap;
  }

  .catalog .filter-wrapper {
    align-items: flex-start;
  }

  .catalog-sort {
    flex-direction: column;
    grid-gap: 15px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1050px) {
  .catalog {
    padding-top: 0;
  }
}
