.form-section {
  padding: 28px 0 32px;
  background-image: url(../img/form-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 1050px) {
    &--mobile {
      display: none;
    }
  }

  &__wrapper {
    max-width: 438px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 900;
    font-size: clamp(22px, 1.806vw, 26px);
    line-height: 130%;
    letter-spacing: 0.234584px;
    color: $bg--w;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 13.1367px;
    line-height: 17px;
    letter-spacing: 0.140751px;
    color: $bg--w;
    margin-bottom: 17px;
  }
}

.main-form {


  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 7px 0;
    margin-bottom: 15px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 18px;
  }

  &__text {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 9.38338px;
    line-height: 100%;
    letter-spacing: 0.140751px;
    color: $form-description;
  }

  &__button {
    width: clamp(120px, 8.333vw, 120px);
    height: clamp(37px, 2.569vw, 37px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg--w;
    box-shadow: 0px 1.87668px 3.75335px rgba(27, 78, 163, 0.2), 0px 3.75335px 7.5067px rgba(41, 121, 255, 0.2);
    border-radius: 3.75335px;

    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 13.1367px;
    line-height: 100%;
    letter-spacing: 0.0075em;
    color: $text--a;
  }

  &__fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;

    input {
      border: none;
      height: clamp(40px, 2.639vw, 38px);
      width: 100%;
      background: $bg--w;
      border-radius: 3.75335px;
      border: 0.938338px solid rgba(0, 0, 0, 0.23);
      box-sizing: border-box;
      padding: 0 11px;
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 15.0134px;
      line-height: 23px;
      letter-spacing: 0.140751px;
      color: $bg--e;

      &::placeholder {
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 15.0134px;
        line-height: 23px;
        letter-spacing: 0.140751px;
        color: $input-placeholder;
      }
    }

    textarea {
      background: $bg--w;
      border-radius: 3.75335px;
      border: 0.938338px solid rgba(0, 0, 0, 0.23);
      box-sizing: border-box;
      width: 100%;
      min-height: 86px;
      resize: none;
      padding: 14px 11px;
      outline: none;

      &::placeholder {
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 15.0134px;
        line-height: 23px;
        letter-spacing: 0.140751px;
        color: $input-placeholder;
      }
    }

    &--mini {
      width: calc(100% / 2 - 12.5px);
    }
  }

  &__legend {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 11.2601px;
    line-height: 11px;
    letter-spacing: 0.140751px;
    color: rgba(0, 0, 0, 0.6);
    padding: 2.5px 4px;
    margin-left: 11px;
    transform: translateY(50%);
    background-color: $bg--w;
  }



}
