header {
  padding-top: 16px;
  background-color: $bg--w;
}

.header {
  display: flex;
  align-items: flex-end;

  grid-gap: clamp(25px,2.431vw,35px);
}

.header-logo {
  position: relative;
  z-index: 5;
}

.header-inner {
  width: 100%;

  &__top {
    margin-bottom: 20px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    padding: 9px 0 11px;
    justify-content: space-between;
    background-color: $bg--f;
    position: relative;
    z-index: 0;
    grid-gap: clamp(15px, 1.389vw, 20px);

    &::before {
      z-index: -1;
      height: 100%;
      left: -50vw;
      right: -50vw;
      background-color: inherit;
      position: absolute;
      content: '';
    }
  }
}


.header-nav {
  &__list {
    display: flex;
    align-items: center;

    grid-gap: clamp(20px, 2.083vw, 35px);
  }

  &__link {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: normal;
    font-size: clamp(14px, 1.111vw, 16px);
    line-height: 143%;
    font-family: $font-family;
    color: $text--a;
    letter-spacing: 0.018em;

    text-decoration-line: underline;
  }
}


.search-form {
  max-width: 511px;
  flex-grow: 1;
  &__wrapper {
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
  }

  &__label {
    position: relative;

    display: block;
    max-width: clamp(250px, 34.514vw, 497px);
    width: 100%;
    height: clamp(30px, 2.778vw, 40px);
    margin: 0;
    padding: 0;
  }

  &__input {
    position: relative;

    width: 100%;
    height: 100%;
    padding: 0 clamp(20px, 3.889vw ,56px);

    background-color: $bg--w;
    border: none;
    border-radius: 99px;
  }

  .search-btn {
    position: absolute;
    top: 50%;
    left: 19px;
    z-index: 2;

    display: flex;
    margin: 0;
    padding: 0;

    transform: translateY(-50%);
  }

  .clear-btn {
    position: absolute;
    top: 50%;
    right: 17px;
    z-index: 2;

    display: flex;
    margin: 0;
    padding: 0;

    transform: translateY(-50%);
    opacity: 0;

    transition: all 0.3s;

    pointer-events: none;
  }

  &__input:focus + .clear-btn {
    opacity: 1;

    pointer-events: initial;
  }
}

.contact-block {
  display: flex;
  align-items: center;
  grid-gap: clamp(15px, 1.389vw, 20px);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 7px;
    flex-shrink: 0;
  }

  &__phone {
    font-style: normal;
    font-weight: bold;
    font-size: clamp(15px, 1.250vw, 18px);
    line-height: 100%;
    font-family: $font-family;
    color: $text--b;
    letter-spacing: 0.0075em;
  }

  &__mail {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    font-family: $font-family;
    color: $text--a;
    letter-spacing: 0.0075em;

    text-decoration-line: underline;
  }

  &__btn {
    color: $text--c;
  }
}



.info-block {
  display: flex;
  align-items: center;
  grid-gap: clamp(15px, 1.589vw, 22px);
  grid-template-columns: repeat();
}


.work-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 7px;
  flex-shrink: 0;
  padding-right: 20px;

  &__title {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.0075em;
    color: $text--b;
  }

  &__value {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.0075em;
    color: $bg--e;
  }
}

.basket-wrapper {
  display: flex;
  align-items: center;
  grid-gap: clamp(15px, 1.489vw, 20px);
}

.basket-btn {
  height: clamp(35px, 2.778vw ,40px);
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  border-radius: 4px;
  width: 94px;

  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.0075em;
  color: $text--a;
  position: relative;

  &__count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg--d;
    font-family: $font-family3;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: $text--w;

  }
}

.login-btn {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.0075em;
  text-decoration-line: underline;
  color: $text--a;
}
