.index-catalog {
  padding-bottom: 52px;

  &__nav {
    display: flex;
    justify-content: center;

  }

  &__nav-list {
    display: flex;
    grid-gap: 24px;
  }

  &__nav-button {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16.893px;
    line-height: 150%;
    width: 150px;
    color: $tab-nav;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .4s ease-in-out;

    &:before {
      content: '';
      width: 100%;
      height: 3.75px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(120%);
      background-color: transparent;
      transition: transform .4s ease-in-out;
      border-radius: 4px 4px 0 0;
    }

    &.active {
      font-size: 22px;
      color: $text--a;
      font-weight: 500;

      &:before {
        background-color: currentColor;
        transform: translateY(0%);
      }
    }
  }
}

.index-catalog-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px 19px;
}


.index-catalog-box__item {
  padding: 27px 16px 32px;
  background: $bg--w;
  box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
  border-radius: 7.50799px;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
}

.index-catalog-list.row-item {


  .index-catalog-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 19px;
  }

  .card {
    box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
    border-radius: 7.50799px;
    padding-bottom: 5px;
  }

  .card-item {
    flex-direction: row;
    grid-gap: 15px;
  }

  .card-item__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: initial;
  }

  .card-item__name {
    max-width: 70%;
  }

  .card-item__image {
    flex-shrink: 0;
  }
}




@media screen and (min-width: 280px) and (max-width: 576px) {
  .index-catalog {
    padding-bottom: 20px;

    &__nav {
      display: flex;
      justify-content: center;
    }

    &__nav-list {
      display: flex;
      grid-gap: 20px;
    }

    &__nav-button {
      font-size: 14px;
      line-height: 150%;
      width: fit-content;
      color: $tab-nav;
      height: 30px;
      padding: 0 10px;

      &:before {
        display: none;
      }

      &.active {
        font-size: 18px;
        transform: translateY(-3px);
      }
    }
  }


  .index-catalog-box {


    &__item {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0px;
      box-shadow: none;
    }
  }

  .index-catalog-inner {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    grid-gap: 20px 10px;


    .card {
      box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
    }

    .card-item {
      align-items: center;

      &__image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .index-catalog-list.row-item {
    .index-catalog-inner {
      grid-template-columns: 100%;
      grid-gap: 15px;
    }

    .card-item__image {
      max-width: 30%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card {
      padding: 8px;
    }

    .card-item {
      align-items: stretch;
    }

    .card-item__bottom {
      min-height: 185px;
    }

    .card-item__check {
      flex-shrink: 0;
      font-size: 10px;
      grid-gap: 0px;
    }

    .card-item__name {
      font-size: 13px;
      height: auto;
      line-height: 120%;
    }

    .card-vidget__item {
      padding: 1.5px 5.5px;
    }

    .card-item__price-value {
      font-size: 16px;
    }

    .card-item__price-sale {
      width: 50px;
      height: 25px;
    }

    .card-item__more {
      width: 78px;
    }

    .number {
      max-width: 88px;
    }

    .number__buttons {
      width: 25px;
      height: 25px;
    }
  }




}



@media screen and (min-width: 576px) and (max-width: 768px) {
  .index-catalog {
    padding-bottom: 20px;

    &__nav {
      display: flex;
      justify-content: center;
    }

    &__nav-list {
      display: flex;
      grid-gap: 20px;
    }
  }


  .index-catalog-box {
    &__item {
      padding-left: 10px;
      padding-right: 10px;
      box-shadow: none;
    }
  }

  .card {
    padding: 8px;
  }

  .index-catalog-inner {
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    justify-content: center;
    grid-gap: 20px 10px;

    .card {
      box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
    }

    .card-item {
      align-items: center;

      &__image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .index-catalog-list.row-item {
    .index-catalog-inner {
      grid-template-columns: 100%;
      grid-gap: 15px;
    }

    .card-item__image {
      max-width: 30%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card {
      padding: 8px;
    }

    .card-item {
      align-items: stretch;
    }

    .card-item__bottom {
      min-height: 100%;
    }

    .card-item__count {
      flex-grow: 1;
    }
  }


}



@media screen and (min-width: 768px) and (max-width: 992px) {
  .index-catalog-inner {
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));

    .card {
      box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
    }
  }

  .index-catalog-list.row-item {
    .index-catalog-inner {
      grid-template-columns: 100%;
      grid-gap: 20px;

      .card-item__bottom {
        width: 100%;
        min-height: 100%;
      }
    }
  }

}


@media screen and (min-width: 992px) and (max-width: 1240px) {
  .index-catalog-inner {
    grid-template-columns: repeat(auto-fill,minmax(245px,1fr));

    .card {
      box-shadow: 0px 0.938498px 1.877px rgba(58, 58, 68, 0.24), 0px 1.877px 3.75399px rgba(90, 91, 106, 0.24);
    }
  }

  .index-catalog-list.row-item {
    .index-catalog-inner {
      grid-template-columns: 100%;
      grid-gap: 20px;

      .card-item__bottom {
        width: 100%;
        min-height: 100%;
      }
    }
  }

}
