@media screen and (min-width: 1050px) {
  .mobile-menu-wrapper {
    display: none;
  }

  .mobile-basket {
    display: none;
  }


}

.mobile-menu-wrapper {
  max-width: 400px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 20;
  box-shadow: 8px 0px 19px 6px  rgba(0, 0, 0, 0.22);
  padding: 16px 16px 16px;
  left: -120%;
  transition: left .5s cubic-bezier(0.68, 0.55, 0.265, .55);
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;


  &.animate {
    left: 0;
  }
}
.mobile-catalog-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 1;
  height: inherit;
}

.mobile-menu {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    grid-gap: 20px;
    padding: 8px 10px;
    margin-left: -16px;
    margin-right: -16px;
    background: rgba(237, 237, 240, 0.45);

    .basket-wrapper {
      grid-gap: 8px;
    }

    .search-form__input {
      padding: 0 20px 0 25px;
      font-size: 12px;
    }

    .search-form .search-btn {
      width: 14px;
      left: 9px;
      svg {
        width: 100%;
      }
    }

    .basket-btn__count {
      top: 2px;
      right: 2px;
      width: 15px;
      height: 15px;
      font-size: 12px;
    }

    .basket-btn {
      font-size: 12px;
      height: 25px;
      width: 60px;
    }

    .login-btn {
      font-size: 12px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 70%;
    display: flex;
  }

  &__midlle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding-top: 45px;
    width: 100%;

    .work-time {
      padding: 0;
    }


    .contact-block__btn {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      left: 0;
    }
  }

  &__login {
    display: flex;
    flex-direction: column-reverse;
  }

  &__contact {
    flex-direction: column;
  }

  &__catalog {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 15px;
    width: 100%;
    margin-bottom: 20px;
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #2264D1;
    transition: all .4s;

    svg {
      fill: currentColor;
      transition: all .4s;
    }

    &.active {

      color: #656769;
      .mobile-menu__catalog-arrow {
        transform: scaleX(-1);
      }
    }
  }

  .header-nav__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    margin-bottom: 0px;
  }

  .mobile-catalog {
    position: relative;
  }

  .mobile-catalog {
    position: absolute;
    top: 46px;
    transform: translateX(-120%);
    transition: all .4s;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    &.active {
      transform: translateX(0);
      padding-bottom: 40px;
    }

  }

  .main-menu__sub-item a {
    background: #EBF2FF;
    border-radius: 60px;
    padding: 12px 15px 12px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-decoration-line: underline;
    color: $text--a;
    margin-bottom: 12px;
  }

  .mobile-catalog__list {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    padding: 0;
    grid-gap: 0;
    height: 100%;

  }
  .main-menu__sub-list {
    position: absolute;
    background-color: #fff;
    z-index: 5;
    transform: translateX(-150%);
    top: -45px;
    width: 100%;
    bottom: 0;
    padding: 0;
    transition: all .4s;

    &.active {
      transform: translateX(0);
    }
  }

  .main-menu__sub-back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 15px;
    width: 100%;
    margin-bottom: 20px;
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #2264D1;
    transition: all .4s;
  }

}


@media screen and (min-width: 576px) and (max-width: 1050px) {
  .mobile-menu__midlle, .mobile-menu__login {
    flex-direction: row;
  }

  .mobile-catalog-wrapper .work-time {
    display: none;
  }
}

