.pagination {
  margin: 0 auto;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5.6px;
  }

  &__link, &__btn {
    width: clamp(28px, 2.083vw, 30px);
    height: clamp(28px, 2.083vw, 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg--w;
    border: 0.938498px solid rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    border-radius: 3.75399px;
  }

  &__link {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.140775px;
    color: rgba(0, 0, 0, 0.87);

    &.active {
      border-color: #9DC2FF;
      color: $text--a;
    }
  }

  &__btn {
    svg {
      fill: #000;
    }

    &.disable {
      pointer-events: none;
      opacity: 0.38;
    }
  }
}
