.partners-section {
  padding: 14px 0 40px;
  margin-bottom: clamp(20px, 4.861vw, 70px);

  &__title {
    text-align: center;
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(22px, 2.292vw, 33px);
    line-height: 150%;
    color: $bg--g;
    margin-bottom: clamp(20px, 2.778vw, 40px);
  }

  &__list {
    display: grid;
    grid-gap: 30px 50px;
    grid-template-columns: repeat(5, 1fr);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
