.project-first {
  padding: 45px 0 50px;
}

.project-slider {

  &__slide {
    padding: 70px 0;
    min-height: 450px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__box {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
  }

  &__title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: $text--e;
  }

  &__text {
    max-width: 510px;
    width: 100%;
    font-family: $font-family;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: $text--e;
  }

  &__buttons {
    display: flex;
    grid-gap: 20px;
  }

  &__btn {
    width: 157px;
    height: 40px;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.0075em;
    border-radius: 4px;

    &--service {
      background: #37833B;
      color: $text--w;
    }

    &--question {
      border: 1px solid #2264D1;
      color: $text--a;
      background: $bg--w;
    }
  }

}
