.single-card-tabs {
  margin-bottom: 52px;
  padding: 0 10px;

  &__nav {
    display: flex;
    align-items: center;
    grid-gap: 20px;
    border-bottom: 1px solid #E3E5E5;
  }

  &__button {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin: 0;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: $tab-nav;
    transition: all .2s ease-in;
    border-bottom: 1px solid transparent;
    position: relative;
    z-index: 2;
    transform: translateY(1px);

    &.active {
      font-weight: 500;
      color: $text--a;
      border-bottom: 1px solid currentColor;
    }
  }
}


.single-card-content {
  padding: 26px 0 ;

  &__article {
    padding: 0;
    grid-gap: 15px;
  }

  &__image {
    margin-bottom: 25px;
  }
}


@media screen and (min-width: 280px) and (max-width: 576px) {

  .single-card-tabs {
    margin-bottom: 20px;

    &__nav {
      height: 32px;
      overflow-x: scroll;
      width: calc(100% + 30px);
      grid-gap: 15px;
      margin-left: -10px;
    }

    &__button {
      font-size: 16px;
      height: 30px;
    }
  }
}


@media screen and (min-width: 576px) and (max-width: 768px) {

  .single-card-tabs {
    margin-bottom: 20px;

    &__nav {
      height: 42px;
      overflow-x: scroll;
      grid-gap: 15px;
    }

    &__button {
      font-size: 18px;
      height: 40px;
    }
  }

  .single-card-content__image {
    display: flex;
      align-items: center;
      justify-content: center;
  }
}

