/* -- Fonts --*/
$font-family: "Roboto", sans-serif;
$font-family2: "Inter", sans-serif;
$font-family3: "Quicksand", sans-serif;

/* -- Colors --*/

// $color--a: #F2F5F8;
// $color--b: #919395;
// $color--c: #5775FF;
// $color--d: #BFBFD5;
// $color--e: #373D47;
// $color--f: #455ABF;

// $color--w: #ffffff;


/* -- text --*/

$text--a: #2264D1;
$text--a--mode: #367BF5;
$text--b: #5A5B6A;
$text--c: #37833B;
$text--d: #9696A0;
$text--e: #000000;
// $text--f: #455ABF;

$text--w: #ffffff;

$card-name: #19191D;
$tab-nav: #9696a0;
$text--name: #5A5B6A;


$input-placeholder: #E3E5E5;
$form-description: #E3E5E6;


/* -- bg --*/

// $bg--a: #F2F5F8;
// $bg--b: #919395;
$bg--c: #2264D1;
$bg--d: #F44336;
$bg--e: #000000;
$bg--f:  #F7F7F8;
$bg--w: #ffffff;

$bg--g: #9696a0;
$footer-bg: #EDEDF0;



$vidget--b: #C8372D;
$vidget--c: #2264D1;
$vidget--d: #37833B;
