/* -- Fonts --*/
$font-family: "Montserrat", sans-serif;

/* -- Colors --*/

$color--a: #F2F5F8;
$color--b: #919395;
$color--c: #5775FF;
$color--d: #BFBFD5;
$color--e: #373D47;
$color--f: #455ABF;

$color--w: #ffffff;


/* -- text --*/

$text--a: #F2F5F8;
$text--b: #919395;
$text--c: #5775FF;
$text--d: #BFBFD5;
$text--e: #373D47;
$text--f: #455ABF;

$text--w: #ffffff;


/* -- bg --*/

$bg--a: #F2F5F8;
$bg--b: #919395;
$bg--c: #5775FF;
$bg--d: #BFBFD5;
$bg--e: #373D47;
$bg--f: #455ABF;

$bg--w: #ffffff;
